<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/form.css" />
    <title>BeReal</title>
  </head>
  <body>
    <%- include('partials/header') %> <br />
    <span><a href="/feed">Go to Feed</a></span>
    <div class="form-container">
      <form action="/form" method="POST">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter Name"
          required
        /><br />
        <input
          type="text"
          name="profilePicture"
          id="profilePicture"
          placeholder="Profile Picture"
          required
        /><br />
        <input
          type="text"
          name="caption"
          id="caption"
          placeholder="Enter Caption"
          required
        /><br />
        <input
          type="text"
          name="image1"
          id="image1"
          placeholder="Bigger Picture"
          required
        /><br />
        <input
          type="text"
          name="image2"
          id="image2"
          placeholder="Smaller Picture"
          required
        /><br />
        <button type="submit">Post BeReal</button>
      </form>
    </div>
  </body>
</html>
