body {
  background: #000000;
  background: linear-gradient(280deg, #000000 0%, #555555 80%);
  background: -webkit-linear-gradient(280deg, #000000 0%, #555555 80%);
  background: -moz-linear-gradient(280deg, #000000 0%, #555555 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px;
  align-items: center;
  gap: 10px;
  position: relative;
}
#user {
  color: white;
  display: flex;
  flex-wrap: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
  position: relative;
}
#user img {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
}
#info {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 120px;
  position: relative;
}
#info p:nth-child(2) {
  position: absolute;
  bottom: -5px;
}
#separation {
  width: 90%;
  background-color: white;
  height: 4px;
  border-radius: 5px;
  animation: example 10s infinite;
}
@keyframes example {
  0% {
    background-color: rgb(255, 255, 255);
  }
  50% {
    background-color: rgb(255, 0, 0);
  }
  100% {
    background-color: white;
  }
}
#pictures {
  position: relative;
  width: max-content;
}
#pictures img:nth-child(1) {
  width: 480px;
  height: 600px;
  border-radius: 15px;
  object-fit: cover;
}
#pictures img:nth-child(2) {
  width: 120px;
  height: 150px;
  border: 3px solid white;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  object-fit: cover;
}
#caption {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-left: 20px;
}
#delete {
  position: absolute;
  right: 20px;
}
button {
  all: unset;
  cursor: pointer;
}
input {
  all: unset;
  border-bottom: 2px solid rgba(255, 255, 255, 0.403);
  color: white;
  margin-right: 5px;
}
#comment {
  align-self: flex-start;
}
header h1 {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}
#form {
  position: absolute;
  top: 30px;
  right: 30px;
  animation: form 1s ease 0s 1 normal forwards;
}
@keyframes form {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#form a {
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  color: white;
}
#form:hover {
  transition: transform 300ms ease-out;
  transform: scale(1.3, 1.3);
}
#options {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  left: 0px;
  width: max-content;
  height: max-content;
  gap: 5px;
  animation: myAnim 1s ease 0s 1 normal forwards;
}
#options ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
#options ul li {
  display: block;
}
#options ul li a {
  text-decoration: none;
  color: red;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
#options ul li a:hover {
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#comment form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 460px;
}

#comment input[type="text"] {
  width: calc(50% - 10px);
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  background-color: #f0f0f0;
}

#comment input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px #ff0000;
}

#comment input[type="hidden"] {
  display: none;
}

#comment button[type="submit"] {
  padding: 5px 15px;
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#comment button[type="submit"]:hover {
  background-color: #cc0000;
}

#comment i.fa-paper-plane {
  font-size: 20px;
  color: #ffffff;
}
